.switcher {
  width: 32px;
  height: 20px;
  border-radius: 10px;
  background-color: #7b61ff;
  position: relative;
  transition: all 0.5s;
}

.switcher:hover {
  transition: all 0.5s;
  background-color: #917cff;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #ffffff;
  left: 14px;
  top: calc(50% - 16px / 2);
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.lightSwitch {
    left: 2px;
    transition: all 0.5s;
    
}

.darkSwitch {
  background-color: #80858b;
    transition: all 0.5s;
}

.SwitchOff:hover {
    background-color: #afb2b6;
    transition: all 0.5s;
}

.disabledSwitch {
    opacity: 40%;
    pointer-events: none;
}
