.container {
    max-width: 266px;
    max-height: 433px;
}

.rating {
    color: #FFFFFF;
}

.card {
    width: 266px;
    height: 357px;
    border-radius: 20px;
}

.title {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}

.genres {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}