html {
    overflow-x:hidden;
}

body {
    background-color: #000000;
    margin: 0;
    display: flex;
    flex: 1;
    font-family: 'Exo 2', Roboto, system-ui, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x:hidden;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}